.body {
    padding-top: 200px ;
    background-color: var(--footer-bg);
    color: var(--footer-text); 
}

.footer {
       background-color: whitesmoke; 
}

.sb_footer {
    display: flex;
    flex-direction: column;
}

.sb_footer_links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.sb_footer_links_div {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: grey
}

.social {
    position: absolute;
    padding-top: 5px;
    right: 0;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
  }

  .Group1 {
    padding: 20px 0 20px 10px;
    display: grid;
    grid-template-columns:  50px 50px;
    grid-template-rows: 50px 50px;
    grid-gap: 2%;
    grid-template-areas: 
        'qr qr'
        'app gog';
}

.item1 {
    grid-area: qr;
    

}

.item2 {
    grid-area: app;
    
}

.item3 {
    grid-area: gog;
    padding-left: 30px;
}

.sb_footer-below{
    display: flex;
    right: 0;
    padding-top: 50px;
    font-size: 12px;
    font-weight: 400;
}