
.shoplist_b {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    justify-content: center;
    padding-left: 5%;
    width: 100vw;
}

.shopsNav {
        display: flex;
        flex-direction: row;
            
}

.supplier {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
    font-size: clamp(20px,0.8vw,50px);
    font-weight: 600;
}


.supplier img {
    width: 12vw;
    max-width: 200px;
    border-radius: 50%;
    border: 3px solid gray;
}

.shoplist-obj{
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.shops-obj{
    box-shadow: 0 0.3px  gray;
    margin: 1%;
    cursor: pointer;
}

.shops-obj:hover{
    box-shadow : 1px 1px 3px grey;

}

.shop-obj div{
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 400;
    width: 100%;
}


.Search-div {
    padding: 3vh;
    display: flex;
    width: 100%;
    max-width: 1000px;
    min-height: 5vh;
}

.Search-bar {
    background-color: #F5F5F5;
    color: #858585;
    font-size: clamp(8px,1vw,14px);
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    
}

.Search-bar:hover {
    transform: scale(1.01);
}

.shoplist-list {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}