.nav {
    justify-content: center;
    margin: 0;
    display: flex;
    width: 100%;
    
    
    overflow: hidden;
    position: fixed;
    z-index: 1;
    
}

.nav-row {
    padding: 1vh 3vh;
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    border-radius: 0 0 10px 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 2vh;
    row-gap: 1vh;
    font-size: clamp(8px,0.8vw,16px);
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    list-style-type: none;
    color: #5094DD;
    width: 60%;

}

.nav-list a {
    text-decoration: none;
}

.nav-list_link:hover {
    text-decoration: none;
    transform: translateY(-1px);
    color: #5094DD;
}

.nav-button {
    padding: 5px 10%;
    box-shadow: 0 1px 3px -2px black;
    border-radius: 25px;
    color: white;
    background-color: #5094DD;
}

.nav-button:hover {
    transform: translateY(-2px);
    background-color: #3d6ea1;
    color: whitesmoke;
}