.header {
    padding: 2%;
    min-height: 650px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background: linear-gradient(#4397F3 0%, #FFFFFF 90%);;
    background-color: #4397F3;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;
    
    overflow: hidden;
}

.header_wrapper {
    max-width: 100%;
    padding-top: 5%;

}


.imag {
    width: 45%;
    max-width: 325px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;

    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
}

@keyframes slideUp {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}