.nav {
    width: 100%;
    padding: 20px 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid var(--nav-border);
    color: var(--nav-text);
    letter-spacing: normal;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;

}

.logo {
    margin-right: auto;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    list-style-type: none;
    color: #5094DD;
}

.nav-list a {
    text-decoration: none;
}

.nav-list_link {
    color: var(--nav-text);
    transition: opacity 0.2s ease-in;
}

.nav-list_link:hover {
    opacity: 0.8;
}

.nav-lisy_link--acrive::after {
    position: relative;
}

.nav-lisy_link--acrive::before {
    content: '';

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}